.todoHead{
    font-weight: bold;
    font-size: 2rem;
}

#search{
    margin-left: 5%;
    border: 1px solid black;
}

.container-fluid .row{
    margin-top: 2rem;
}
.container-fluid .row .col-md-5{
    display: flex;
    /* padding-top: 0.5rem; */
    text-align: center;
    cursor: pointer;
}

.container-fluid .row .col-md-5 p,
.container-fluid .row .col-md-5 i{
    margin:0 1rem;
}

.container-fluid .row .col-md-7 .card .top-nav{
    display: flex;
    justify-content: space-between;
}

.completedText{
    color:Red;
    text-decoration: line-through;
    font-size: 2rem;
}
.onGoingText{
    color:green;
    font-size: 2rem; 
}

.startedText{
    color:orange;
    font-size: 2rem; 
}


