<div class="container-fluid">
    <div class="row">
        <div class="col-md-7 col-sm-6">
            <div class="input-group">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                    aria-describedby="search-addon" />
                <button type="button" class="btn btn-outline-primary">search</button>
            </div>
        </div>

        <div class="col-md-5 col-sm-6 ">
            <i class="fa-solid fa-user"></i>
            <p>userName</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <div class="card border-0 shadow-lg p-3 mb-5 bg-white rounded" style="height:auto">
                <div class="top-nav">
                    <h5>Todos</h5>
                    <button class="btn btn-primary">Create Todos</button>
                </div>
                <div class="row">

                    <!-- Started -->

                    <div class="col-md-4 col-sm-12">
                        <h5>Started</h5>
                        <div class="card border-0 shadow-lg p-3 mb-5 bg-white rounded ">
                            <h5 class="card-header">Walk The Dog</h5>
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>

                        <div class="card border-0 shadow-lg p-3 mb-5 bg-white rounded">
                            <h5 class="card-header">Walk The Dog</h5>
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>

                        <div class="card border-0 shadow-lg p-3 mb-5 bg-white rounded">
                            <h5 class="card-header">Walk The Dog</h5>
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>

                    <!-- on going -->

                    <div class="col-md-4 col-sm-12">
                        <h5>On Going</h5>
                        <div class="card border-0 shadow-lg p-3 mb-5 bg-white rounded">
                            <h5 class="card-header">Featured</h5>
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                        <div class="card border-0 shadow-lg p-3 mb-5 bg-white rounded">
                            <h5 class="card-header">Walk The Dog</h5>
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                        <div class="card border-0 shadow-lg p-3 mb-5 bg-white rounded">
                            <h5 class="card-header">Walk The Dog</h5>
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>

                    <!-- completed -->

                    <div class="col-md-4 col-sm-12">
                        <h5>Completed</h5>
                        <div class="card border-0 shadow-lg p-3 mb-5 bg-white rounded">
                            <h5 class="card-header">Featured</h5>
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>

                        <div class="card border-0 shadow-lg p-3 mb-5 bg-white rounded">
                            <h5 class="card-header">Walk The Dog</h5>
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>

                        <div class="card border-0 shadow-lg p-3 mb-5 bg-white rounded">
                            <h5 class="card-header">Walk The Dog</h5>
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card border-0 shadow-lg p-3 mb-5 bg-white rounded" style="height:fit-content; width: 100%;" >
                
               
                        <div [chart]="chart"></div>
                
                <h5>Todo Statistics</h5>
                <div class="row">
                    <div class="col-6">
                        <div class="card border-0 shadow-lg p-3 mb-5 bg-white rounded">
                           <h6>Total</h6>
                           <div class="card-body">
                            <p>56</p>
                           </div>
                        </div>
                       
                    </div>
                    <div class="col-6">
                        <div class="card border-0 shadow-lg p-3 mb-5 bg-white rounded">
                            <h6>Completed</h6>
                            <div class="card-body">
                                <p>56</p>
                               </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="card border-0 shadow-lg p-3 mb-5 bg-white rounded">
                            <h6>ON Going</h6>
                            <div class="card-body">
                                <p>56</p>
                               </div>
                        </div>
                       
                    </div>
                    <div class="col-6">
                        <div class="card border-0 shadow-lg p-3 mb-5 bg-white rounded">
                            <h6>Started</h6>
                            <div class="card-body">
                                <p>56</p>
                               </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>